.individual-post {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    z-index: 1;
}

.profile-picture-container {
    position: relative;
    height: 115px;
    width: 115px;
    margin-right: 20px;
    border-radius: 60px;
    overflow: hidden;
    background-color: rgb(232, 211, 195);
    border: 1px solid rgb(210, 180, 160);
    flex-shrink: 0;
}

.profile-picture {
    object-fit: cover;
}

@media (max-width: 700px) {
    .individual-post {
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile-picture-container {
        height: 70px;
        width: 70px;
        margin-right: 12px;
        border-radius: 999px;
    }
}
