.create-post-container {
    position: fixed;
    height: 100%;
    width: 302px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-top: 98px;
    background-color: rgb(226, 142, 75);
    z-index: 10;
    padding-top: 5px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.type-post-container {
    display: flex;
    justify-content: center;
}

.post-button-container {
    display: flex;
    justify-content: center;
}

.type-post {
    min-height: 200px;
    width: 90%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(231, 193, 163)
}

.post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    margin-top: 10px;
    padding: 5px 12px;
    border-radius: 25px;
    background-color: rgb(231, 193, 163);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
.post-icon {
    width: 12px;
    height: 12px;
    object-fit: contain;
}

